---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/layout/Navbar.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Services from "../components/sections/Services.astro";
import Process from "../components/sections/Process.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/layout/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Services />
    <Process />
    <WhyUs />
    <Contact />
  </main>
  <Footer />

  <script>
    import "../scripts/reveal.js";
    import "../scripts/smooth-scroll.ts";
  </script>
</Layout>
