/* ============================================================
   SECTION COMMON
   ============================================================ */
@layer layout {

  @media (width < 640px) {

    /* Eliminar esto y añadir media desktop abajo */
    .section-title {
      margin-block-end: clamp(1rem, -12.64rem + 58.18vw, 3rem);
      /* <--- */
    }

    .section-eyebrow {
      margin: 0;
      padding-block-start: 1.5rem;
      /* <--- */
    }
  }

  .section {
    position: relative;
    min-block-size: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-block-start: var(--padding-space-6);
    padding-block-end: var(--padding-space-6);
    padding-inline: var(--padding-space-3);
  }

  /* Decorative top border */
  .section::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    block-size: 1px;
    background: linear-gradient(90deg,
        transparent,
        var(--orange-500),
        transparent);
    opacity: 0.3;
  }

  /* Decorative background grid */
  .section::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image:
      linear-gradient(oklch(var(--white-base) / 0.05) 1px, transparent 1px),
      linear-gradient(90deg,
        oklch(var(--white-base) / 0.05) 1px,
        transparent 1px);
    background-size: 60px 60px;
    mask-image: radial-gradient(ellipse 80% 80% at 50% 50%, black, transparent);
    pointer-events: none;
  }

  /* Contenido principal */
  .section-inner {
    position: relative;
    margin-inline: auto;
    z-index: 1;
    inline-size: 100%;
  }

  /* Titulo de la seccion */
  .section-eyebrow {
    font-family: var(--font-condensed);
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--orange-500);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    /* padding-block-start: var(--padding-space-4); */
    /* margin-block-end: var(--margin-space-1); */
  }

  /* Decorativo del titulo de la seccion */
  .section-eyebrow::before {
    content: '';
    inline-size: 32px;
    block-size: 2px;
    background: var(--orange-500);
    box-shadow: var(--glow-sm);
    flex-shrink: 0;
  }

  /* Titulo principal */
  .section-title {
    font-size: clamp(2.9rem, 5.4vw, 4.4rem);
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--white);
    /* margin-block-end: var(--margin-space-3); */
  }

  /* Resaltar la palabra accent */
  .section-title .accent {
    color: var(--orange-500);
  }

  /* Lead */
  .section-lead {
    color: var(--white-50);
    margin-block-end: var(--margin-space-3);
  }

}